.container {
    text-decoration: none;
  }

.element-list {
    text-decoration: none; 
    color: black;
    margin-left: 30px;
    border-radius: 20px;
    width: 10%;
    background-color: antiquewhite;
    margin-top: 1%;
    padding: 20px
}

.user-list {
    text-decoration: none; 
    color: black;
    margin-left: 30px;
    border-radius: 20px;
    max-width: 30%;
    background-color: antiquewhite;
    margin-top: 1%;
    padding: 20px
}

.bot-list {
    text-decoration: none; 
    color: black;
    margin-left: 10%;
    border-radius: 20px;
    max-width: 30%;
    background-color: blueviolet;
    margin-top: 1%;
    padding: 20px
}
